In [2]:
def even_odd(num):  # num is parameter
    if num%2==0:
        return 'even'
    else:
        return 'odd'
for i in range (1,11):
    print(i,'is',even_odd(i))   # i is argument

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

In [4]:
print(even_odd.__doc__)
print(print.__doc__)

None
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [10]:
# default argument
def power(a=1,b=1):
    return a**b
print(power())
power(2)

1

2

In [8]:
#positional argument
power(2,3)

8

In [11]:
# keyword argument
power(b=3,a=2)

8

In [27]:
# *args ---> for when we are not sure that how many input are ...
def mul(*args):  # *-->consider variable as tuple 
    product=1
    for i in args:
        product=product*i
    return product    

mul(1,2,3,4)

24

In [8]:
def display(**kwargs): # ** as dictionary
    for (key,value) in kwargs.items():
        print(key,'=',value)
        
display(india='delhi',sl='columbo')

india = delhi
sl = columbo

In [1]:
'''Points to remember while using * and **

1) order of arguments matter(normal->*args->**kwargs)
2) word args and kwargss are only for convention,you can use any name of choice
'''

'Points to remember while using * and **\n\n1) order of arguments matter(normal->*args->**kwargs)\n2) word args and kwargss are only for convention,you can use any name of choice\n'

In [5]:
l=[1,2,3]
print(l.append(4))
l

None

[1, 2, 3, 4]

In [5]:
# Global and local variables
def g(y):
    print(x)
    print(x+1)
x=5 
g(x)
print(x)

5
6
5

In [6]:
def g(y):
    x=1
    x=x+1
    print(x)
    
x=5
g(x)
print(x)

2
5

In [12]:
# error 
def h(y):
    x=x+1
x=5
h(x)
print(x)
# throw error becuase can't change global variable directly in function

In [13]:
# for manage above error
def h(y):
    global x
    x=x+1
x=5
h(x)
print(x)

6

In [14]:
def f(x):
    x=x+1
    print('in f(x):x= ',x)
    return x
x=3
z=f(x)
print('in main program scope:z= ',z)
print('in main program scope: x= ',x)

in f(x):x=  4
in main program scope:z=  4
in main program scope: x=  3

In [23]:
# Nested functions
def f():
    def g():
        print('inside function g')
    g()    
    print('inside function f') 
    
f()

inside function g
inside function f

In [32]:
def g(x):
    def h():
        x='abc'
    x=x+1
    print('in g(x):x=',x)
    h()
    return x
x=3
z=g(x)
print(z)

in g(x):x= 4
4

In [47]:
# functions are 1st class citizens.... fn act like data type in python
def sq(num=1):
    return num**2

print(type(sq))
print(id(sq))
x=sq
x(5)

<class 'function'>
1687189837616

25

In [48]:
del sq

In [54]:
def sq(num=1):
    return num**2

l=[1,2,3,4,sq]
print(l[-1])
print(l[-1](5))

<function sq at 0x00000188D4525048>
25

In [56]:
s={1,2,sq}
# fn are inmutable

In [61]:
def f():
    def x(a,b):
        return a+b
    return x
val=f()(3,4)
print(val)

7

In [68]:
def fun_a():
    print('inside fun_a')
    
def fun_b(z):
    print('inside fun_b')
    return z()
print(fun_b(fun_a))

inside fun_b
inside fun_a
None

In [1]:
# lambda function
a=lambda x: x**2
a(2)

4

In [ ]:
'''Difference b/w lambda & normal fn
1) No name 
2)lambda has no return value
3)lambda is written in 1 line
4)not reusable
'''

In [2]:
a=lambda s: 'a' in s
a('hello')

False

In [4]:
n=lambda x: 'even' if x%2==0 else 'odd'
n(4)

'even'

In [8]:
# Higher order fn
def sq(x):
    return x**2
def transform(f,l):  
    output=[]
    for i in l:
        output.append(f(i))
        
    print(output)
    
l=[1,2,3]
transform(sq,l)

[1, 4, 9]

In [9]:
transform(lambda x:x**2,l)

[1, 4, 9]

In [11]:
# Map
list(map(lambda x:x**2,[1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [15]:
list(map(lambda x:'even 'if x%2==0  else 'odd',[1,2,3,4,5,6]))

['odd', 'even ', 'odd', 'even ', 'odd', 'even ']

In [30]:
user=[
    {'name':'dhiraj',
      'age':21
    },
    
    {'name':'rizwan',
     'age':19
    }
    
]

list(map(lambda user:user['name'],user))

['dhiraj', 'rizwan']

In [39]:
L=[1,2,3,4,5,6,7,8,9,10]
list(map(lambda x:x>5,L))

[False, False, False, False, False, True, True, True, True, True]

In [40]:
#filter 

list(filter(lambda x:x>5,L))

[6, 7, 8, 9, 10]

In [42]:
fruit=['apple','mango','banana','watermelon']
list(filter(lambda x:x.startswith('a'),fruit))

['apple']

In [46]:
# reduce
import functools
functools.reduce(lambda x,y:x+y,[1,2,3,4])

10

In [50]:
# finding min
functools.reduce(lambda x,y:x if x<y else y,[12,34,65,13])

12