In [ ]:
# Arithematic Operator

print(11+6)
print(11-6)
print(11*6)
print(11/6)
print(11%6)
print(11//6)
print(11**6)

17
5
66
1.8333333333333333
5
1
1771561

In [ ]:
# Relational operator

print(11>6)
print(11<6)
print(11>=6)
print(11<=6)
print(11==6)
print(11!=6)

True
False
True
False
False
True

In [ ]:
#logical operator

print(11>6 and 11<6)
print(11>6 or 11<6)
print(not(11>6 and 11<6))

False
True
True

In [ ]:
# Bitwise
print(2 & 3)
print(2 | 3)
print(2 ^ 3)
print(~2)
print(2 >> 3)
print(2 << 3)

2
3
1
-3
0
16

In [ ]:
# Assignment
a = 3
print(a)
a += 3
print(a)

3
6

In [ ]:
# Membership

print('D' in 'Delhi')
print('D' not in 'Delhi')

True
False

In [ ]:
l=[1,2,3,4]
print(6 in l)

False

In [ ]:
# find the sum of a 3 digit no. entered by user without loop
a=int(input("Enter the number "))
n1=a%10
a=a//10
n2=a%10
a=a//10
n3=a%10
print(n1+n2+n3)

Enter the number 2131
5