In [ ]:
# Tuples 
'''Similar to a list ,difference between thw two is that we cannot change the elements 
of a tuple once it is assigned whereas we can change elements of a list'''

In [7]:
#empty tuple
t1=()
print(t1)
#  This is not a way to create a single item tuple 
t2=(2)
print(type(t2))
t3=('dhiraj')
print(type(t3))

()
<class 'int'>
<class 'str'>

In [8]:
#single item tuple
t1=('Dhiraj',)
type(t1)

tuple

In [12]:
t1=(1,2,4,6)
print(t1)
t2=(1,2,3,'Dhiraj')
print(t2)

(1, 2, 4, 6)
(1, 2, 3, 'Dhiraj')

In [13]:
t3=(1,2,3,(4,5))
print(t3)

(1, 2, 3, (4, 5))

In [15]:
t=tuple('Hello')
print(t)

('H', 'e', 'l', 'l', 'o')

In [19]:
t1=(1,2,3,(4,5))
print(t1[3][0])
print(t1[:2])

4
(1, 2)

In [20]:
del t1

In [22]:
# + and *
t1=(1,2,3)
t2=(4,5,6)
print(t1+t2)
print(t1*5)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [23]:
# membership
3 in t1

True

In [24]:
# common function
print(len(t1))
print(min(t1))
print(max(t1))
print(sorted(t1))

3
1
3
[1, 2, 3]

In [27]:
t1.count(3)

1

In [28]:
t1.index(2)

1

In [29]:
# list v/s tuple
a=[1,2,3]
b=a
a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [33]:
a=(1,2,3)
b=a
a=a+(4,)
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

In [36]:
a,b=[1,2]
print(a)
print(b)

1
2

In [37]:
# unpacking
a,b,c=(1,2,3)
print(a)
print(b)
print(c)

1
2
3

In [39]:
a,b,*others=(1,2,3,4,5,6,7)
print(a)
print(b)
print(*others)

1
2
3 4 5 6 7

In [46]:
# zip
a=(1,2,3)
b=(4,5,6)
tuple(zip(a,b))

((1, 4), (2, 5), (3, 6))

In [60]:
# set
s=set()
print(s)

set()

In [18]:
s1={1,2,3,'dhiraj'}
print(s1)
type(s1)

{1, 2, 3, 'dhiraj'}

set

In [5]:
# Duplicates are not allowed in tuple and can't have mutable items
s={1,2,2,4,1,5}
print(s)

{1, 2, 4, 5}

In [32]:
# for adding elements
s={1,2,3,4}
s.add(5)
print(s)
# multiple elements
s.update([6,7])
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7}

In [19]:
# delete
del s1

In [33]:
s.discard(5)
s

{1, 2, 3, 4, 6, 7}

In [34]:
s.remove(1)
s

{2, 3, 4, 6, 7}

In [35]:
#for random delete
s.pop()
s

{3, 4, 6, 7}

In [36]:
s.clear()
s

set()

In [40]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
#union
print(s1 | s2)
# Intersection
print(s1 &s2)
# difference
print(s1-s2) # items of s1 which not present in s2

# Symmetric difference
print(s1 ^ s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}

In [44]:
# membership
4 in s1

True

In [45]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [51]:
s1.update(s2)
print(s1)
s1.remove(6)
s1.remove(7)
s1.remove(8)

{1, 2, 3, 4, 5, 6, 7, 8}

In [52]:
s1.intersection(s2)

{4, 5}

In [54]:
s1.intersection_update(s2)
s1
# same for the other operations like difference...

{4, 5}

In [56]:
s1={1,2,3,4}
s2={1,2,3,4,5,6}
s1.isdisjoint(s2)

False

In [57]:
s1.issubset(s2)

True

In [58]:
s2.issuperset(s1)

True

In [59]:
s1={1,2}
s2=s1.copy()
print(s1)
print(s2)

{1, 2}
{1, 2}

In [65]:
# frozenset----> inmutable
f1=frozenset([1,2,3])
f2=frozenset([3,4,5,6])
f1 | f2

frozenset({1, 2, 3, 4, 5, 6})

In [68]:
f1.intersection(f2)

frozenset({3})

In [71]:
f3=frozenset([1,2,frozenset([3,4])])
f3

frozenset({1, 2, frozenset({3, 4})})

In [72]:
# Dictionary
'''It is a collection of keys,values used to store data values like to map which unlike
other data types which hold only a single value as an element
Mutable
Indexing has no meaning
keys can't duplicated
keys can't mutable items   '''

"It is a collection of keys , values used to store data values like to map which unlike\nother data types which hold only a single value as an element\nMutable\nIndexing has no meaning\nkeys can't duplicated\nkeys can't mutable items   "

In [73]:
# empty 
d={}
d

{}

In [74]:
d1={'name':'Dhiraj','Gender':'Male'}
d1

{'name': 'Dhiraj', 'Gender': 'Male'}

In [78]:
d2={(1,2,3):1,'Name':'Dhiraj'}
d2

{(1, 2, 3): 1, 'Name': 'Dhiraj'}

In [82]:
s={'name':'dhiraj',
    'college':'RCPIT',
     'sem':4,
      'subject':{'ML':32,'IPCV':28,'DC':34},
      }
s

{'name': 'dhiraj',
 'college': 'RCPIT',
 'sem': 4,
 'subject': {'ML': 32, 'IPCV': 28, 'DC': 34}}

In [3]:
d4=dict([(1,2),(2,2),(4,2)])

In [4]:
d4

{1: 2, 2: 2, 4: 2}

In [5]:
d={'name':'rizwan','name':'Dhiraj'}
d

{'name': 'Dhiraj'}

In [7]:
d6={'name':'dhiraj',(1,2):2}

In [47]:
# fetching elements from dict
s={'name':'dhiraj',
    'college':'RCPIT',
     'sem':4,
      'subject':{'ML':32,'IPCV':28,'DC':34},
      }
print(s['name'])

print(s.get('sem'))
s['subject']['ML']

dhiraj
4

32

In [40]:
#adding key-value pair
s['age',]=21
s[3]=6
s

{'name': 'dhiraj',
 'college': 'RCPIT',
 'subject': {'ML': 32, 'IPCV': 28, 'DC': 34},
 ('age',): 21,
 3: 6}

In [41]:
#remove
s.pop(3)
s

{'name': 'dhiraj',
 'college': 'RCPIT',
 'subject': {'ML': 32, 'IPCV': 28, 'DC': 34},
 ('age',): 21}

In [36]:
#last value  
s.popitem()
s

{'name': 'dhiraj', 'college': 'RCPIT'}

In [39]:
del s['sem']
s

{'name': 'dhiraj',
 'college': 'RCPIT',
 'subject': {'ML': 32, 'IPCV': 28, 'DC': 34}}

In [49]:
# editing
s['subject']['ML']=40
s

{'name': 'dhiraj',
 'college': 'RCPIT',
 'sem': 4,
 'subject': {'ML': 40, 'IPCV': 28, 'DC': 34}}

In [52]:
# membership
'name'in s

True

In [54]:
#iteration
for i in s:
    print(i,s[i])

name dhiraj
college RCPIT
sem 4
subject {'ML': 40, 'IPCV': 28, 'DC': 34}

In [56]:
print(len(s))
print(sorted(s))

4
['college', 'name', 'sem', 'subject']

In [57]:
print(s.items())

dict_items([('name', 'dhiraj'), ('college', 'RCPIT'), ('sem', 4), ('subject', {'ML': 40, 'IPCV': 28, 'DC': 34})])

In [58]:
s.keys()

dict_keys(['name', 'college', 'sem', 'subject'])

In [59]:
s.values()

dict_values(['dhiraj', 'RCPIT', 4, {'ML': 40, 'IPCV': 28, 'DC': 34}])

In [61]:
a1={1:2,3:4,4:5}
a2={4:7,6:8}
a1.update(a2)
a1

{1: 2, 3: 4, 4: 7, 6: 8}

In [3]:
# Dictionary Comprehension
{i:i*i for i in range (1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [10]:
distance={'delhi':1000,'mumbai':2000,'banglore':3000}
{key:value*0.5 for (key,value) in distance.items()}

{'delhi': 500.0, 'mumbai': 1000.0, 'banglore': 1500.0}

In [13]:
#zip
d=['sunday','monday','tuesday']
d1=['3','4','5']
dict(zip(d,d1))

{'sunday': '3', 'monday': '4', 'tuesday': '5'}